FINTS_PRODUCT_ID=YourProductID
FINTS_PRODUCT_NAME=YourProductName
FINTS_PRODUCT_VERSION=YourProductVersion
FINTS_SESSION_TTL_SECONDS=300
FINTS_DEBUG_LEVEL=off
FINTS_DEBUG_FAIL_ONLY=0
FINTS_SERVER_HOST=0.0.0.0
FINTS_SERVER_PORT=8000
FINTS_SERVER_PID_FILE=.fints-rest-server.pid
FINTS_SERVER_LOG_FILE=.fints-rest-server.log
